.header-container {
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: white;
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: px;
    font-weight: bold;
  }